:root {
  /* colors */
  --primary-color: #045d53;
  --secondary-color: #52ab81;
  --info-color: #b6d2a6;
  --light-color: #fae2bb;
  --success-color: #689571;
  --danger-color: #ba2b20;

  --box-shadow-sm: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --box-shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
a {
  text-decoration: none;
}
