/* register && login forms */
.auth-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-card {
  .submit:hover {
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
  }
}

@media (min-width: 577px) {
  .custom-form {
    width: 70% !important;
  }
}

@media (max-width: 576px) {
  .custom-form {
    width: 90% !important;
  }
}
